.jumbotron {
    padding-top: 6rem;
    width: 100%;
    height: 100vh;
    position: relative;
    /* background-color: #e2edff; */
}

.navbar {
    padding: 35px 0;
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: "";
    height: 3px;
    width: 0;
    background: aqua;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}


/* #projects { */


/* background-color: #e2edff; */


/* } */

section {
    padding-top: 5rem;
}

.bg-image {
    width: 100%;
    height: 100vh;
    background-image: url("img/me.jpg");
    background-size: cover;
    background-position: center;
}