.jumbotron {
    padding-top: 15rem;
    padding-left: 5rem;
    width: 100%;
    height: 100vh;
    /* background-color: #e2edff; */
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.aboutme ul li {
    list-style: none;
    margin-bottom: 15px;
}

.judul {
    position: relative;
    margin-bottom: 30px;
}

.judul h2 {
    margin: 0;
    margin: -15px 0 15px 0;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #fff;
    text-decoration: underline aqua;
}

#main-navigation ul li {
    display: inline;
}

.active {
    border-bottom: 3px solid aqua;
}

.navbar ul li::after {
    content: "";
    height: 3px;
    width: 0;
    background: aqua;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}


/* #projects { */


/* background-color: #e2edff; */


/* } */

section {
    /* scroll-margin-top: 60px; */
    padding-top: 6rem;
}

.bg-image {
    background-image: url("img/me.jpg");
    /* background-repeat: no-repeat; */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    /* background-attachment: fixed; */
    background-size: cover;
    /* height: 100vh; */
}


/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/

.counts {
    padding: 60px 0;
}

.counts .count-box {
    width: 100%;
    text-align: center;
}

.counts .count-box span {
    font-size: 48px;
    line-height: 48px;
    display: block;
    font-weight: 700;
    color: #0fa5aa;
    margin-left: 80px;
    margin: auto;
}

.counts .count-box p {
    padding: 8px 0 0 0;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #ffffff;
}


/* Typed */

.typed,
.typed-strings {
    display: inline-block;
}

.typed-strings p {
    position: absolute;
}

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

.typed-strings p {
    position: absolute;
}

.h1_jumbotron {
    font-family: "Source Code Pro", monospace;
    font-weight: 400;
}

h1.jumbotron,
.h1_jumbotron {
    color: #222;
    font-size: 40px;
    margin: 0;
    line-height: 65px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* text-transform: capitalize; */
    transition: all 0.2s cubic-bezier(0.34, 1.12, 0.68, 1.31);
}

.gallery {
    min-height: 100vh;
    /* background: #eee; */
    padding-bottom: 100px;
}

.gallery .controls {
    padding: 0;
    margin: 0 auto 35px auto;
    list-style: none;
    text-align: center;
    border-radius: 50px;
    padding: 2px 15px;
}

.gallery .controls .buttons {
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px 8px 15px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color: #444444;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
}

.gallery .controls .buttons.active {
    /* background: coral; */
    color: #fff;
}

.gallery .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery .image-container .image {
    height: 250px;
    width: 350px;
    overflow: hidden;
    /* border: 15px solid #fff; */
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    margin: 20px;
}

.gallery .image-container .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery .image-container .image:hover img {
    transform: scale(1.4);
}

.skills {
    display: flex;
    margin-top: 1rem;
    flex-wrap: wrap;
}

.skills span {
    padding: 0.5em 1em;
    font-size: 1.4em;
    font-weight: bold;
}

@media screen and (max-width: 480px) {
    .skills {
        flex-direction: column;
        margin-top: 1rem;
        text-align: center;
    }
    .skills span {
        padding: 0.5em 0;
    }
}

.kaki {
    position: relative;
}